# Existing requirements
Flask==3.0.0
Werkzeug==3.0.1
Jinja2==3.1.3
itsdangerous==2.1.2
click==8.1.7
MarkupSafe==2.1.5

# Printer support
python-escpos==3.1
pyusb==1.2.1
pyserial==3.5
Pillow==10.2.0
qrcode==7.4.2
python-barcode==1.3.0

#Using this to run '.\venv\Scripts\Activate' It creates a separate, isolated Python environment for your project (in this case, your Capstone-1 Flask project).
Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass; .\venv\Scripts\Activate

# Optional: PDF generation for receipts
# WeasyPrint==60.2  # Uncomment if PDF receipts 